.main.css-1v3fvcr.egzxvld3{
    margin-top: -50px;
    overflow: hidden;
}

.css-u8hs99.exg6vvm14{
    visibility: collapse;
}

.css-po3vlj.exg6vvm15 {
    width: 100%;
    height: 60px;
    background-color: white;
}

.css-8u98yl.exg6vvm0 .css-1cpxqw2.edgvbvh9 {
    position: absolute;
    width: 50%;
    height: 50px;
    left:-2px;
    border: 2px solid;
}
/* .css-6kekos.edgvbvh9{
    position: absolute;
    width: 50%;
    height: 50px;
    left:-2px;
    border: 2px solid;
} */
.css-po3vlj.exg6vvm15 button{
    position: absolute;
    width: 50%;
    height: 50px;
    left:-2px;
    border: 2px solid;

}